/* https://nekocalc.com/px-to-rem-converter */
/* rem 계산기 */

/* COMMON : 공통 */
body {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    /*line-height: 글 사이 행간 */
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
    /*     height: 3000px; */

}

img {
    /* 이미지를 글자 취급x 상자 레이아웃으로 취급 아래 공백 사라짐. */
    display: block;
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    /* 밑에 각 종 이미지들  position: absolute; */
    position: relative;
}

/* 버튼 공통 사항 */
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    /* a태크가 span 태그에 btn 부여해도 모양 나올 수 있게 블록 요소 */
    display: block;
    /* 바뀜이 자연스럽게 일어나도록. 전환효과 부여 */
    transition: .4s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/* 일치선택자와 BEM 상태 -- 앞의 요소의 상태를 -- 하이픈 기호로 명시 */
/* reverse - > 반전 */
.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover {
    /* 투명함을 나타내는 색상 : transparent */
    background-color: transparent;
    color: #333;
}

/* btn BROWN */
.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}

.btn.btn--brown:hover {
    color: #fff;
    background-color: #592B18;
}

/* btn GOLD */
.btn.btn--gold {
    color: #d9aa8a;
    border-color: #d9aa8a;
}

.btn.btn--gold:hover {
    color: #fff;
    background-color: #d9aa8a;
}

/* btn WHITE */
.btn.btn--white {
    color: #fff;
    border-color: #fff;
}

.btn.btn--white:hover {
    color: #333;
    background-color: #fff;
}

/* 스크롤 이벤트  */
.back-to-position {
    opacity: 0;
    transition: 1s;
}

.back-to-position.to-right {
    transform: translateX(-150px);
}

.back-to-position.to-left {
    transform: translateX(150px);
}

.show .back-to-position {
    opacity: 1;
    /* transform: translateX(0); 원래 위치로 돌아옴 */
    transform: translateX(0);
}

.show .back-to-position.delay-0 {
    /* 전환효과 효과를 0.x초 지연시킨다는 의미 */
    transition-delay: 0s;
}

.show .back-to-position.delay-1 {
    transition-delay: .3s;
}

.show .back-to-position.delay-2 {
    transition-delay: .6s;
}

.show .back-to-position.delay-3 {
    transition-delay: .9s;
}

/* COMMON : 공통 끝 */




/* HEADER */
header {
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    /* 브라우저 뷰포트 기준으로 하겠다. fixed */
    top: 0;
    z-index: 9;
}

header>.inner {
    height: 120px;
    /* 강의 내용 */
    /* 해더의 자식만 120px 나머지 inner은 위에 공통으로 */
}

header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* 내가한 것 반응형 만들려면 앱솔쓰면 x */
    /*  display: flex;
    justify-content: space-between; */

}

/* 서브메뉴 시작  SUB-MENU*/
header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
}

header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}

/* li 사이 구분선 :: 가상요소 선택자*/
header .sub-menu ul.menu li::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* 위에 적용된거 첫번째한테 어캐 할거냐 */
header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    font-size: 0.75rem;
    display: block;
    padding: 11px 16px;
    color: #656565;
}

header .sub-menu ul.menu li a:hover {
    color: #000;
}


header .sub-menu .search {
    height: 34px;
    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    /* 가로만 전환효과  */
    transition: width .4s;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

/* 클릭 후 아이콘 사라짐. */
header .sub-menu .search.focused .material-icons {
    opacity: 0;
}

/* 서브메뉴 끝  SUB-MENU*/

header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}

header .amin-menu .item {}

header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    /* 6 6 좌 우 아래는 0 적용 x */
    border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu>ul {
    display: flex;
    padding: 20px 0;
    /* 위 아래 20px 좌우 0 */
}

header .main-menu .item .item__contents .contents__menu>ul>li {
    width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

/* header .main-menu .item .item__contents .contents__menu > ul > li ul {

} */

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

/* 마우스 올리면 #669900 */
header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
    color: #669900;
}

/*<h4>나와 어울리는 커피 찾기</h4>*/
header .main-menu .item .item__contents .contents__texture {
    font-size: 12px;
    padding: 26px 0;
    background-image: url("../images/main_menu_pattern.jpg")
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
    /* 상중하 top 4 left right 0 bottom 14 */
}

header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
    cursor: pointer;
}

/* HEADER 끝 VISUAL 시작 */

.visual {
    margin-top: 120px;
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
}

.visual .inner {
    height: 646px;
}

.visual .title {
    position: absolute;
    top: 88px;
    left: -10px;
}

.visual .title .btn {
    position: absolute;
    top: 259px;
    left: 173px;

}

/* 클래스 선택자가 2개 붙어있으면 일치 선택자 */
/* 공통 COM .inner에 position: relative;  */
.visual .cup1.image {
    position: absolute;
    bottom: 0;
    right: -47px;
}

.visual .cup1.text {
    /* 오트밀 라떼 */
    position: absolute;
    top: 38px;
    right: 171px;
}

.visual .cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
}

.visual .cup2.text {
    /* 스타벅스 카라멜 크럼블 모카 */
    position: absolute;
    top: 321px;
    right: 416px;
}

.visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}

/* 안보이게 만들어두고 js로 순차적으로 나타나게 */
.visual .fade-in {
    opacity: 0;
}

/* NOTICE 공지사항 SECTION 시작. */

.notice {}

.notice .notice-line {
    position: relative;
}

.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;

}

.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;

}

.notice .notice-line .inner {
    height: 62px;
    display: flex;

}

.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;

}

/*    <!-- <div class="swiper-container"> 최신 버젼에선 swiper만 입력 --> */
.notice .notice-line .inner__left .swiper {
    height: 62px;
    flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px;
}

.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    /* 수평의 끝점으로 이동 */
    justify-content: flex-end;
    align-items: center;
}

.notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
    font-size: 30px;
}

.notice .promotion {
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    /* 높이가 693에서 0px로 0.4초에 걸쳐서 자연스럽게 조정됨 */
    transition: height 0.4s;
    overflow: hidden;
}

/* 일치선택자 프로모션이라는 요소에 hide라는 클래스가 붙어 있는 경우를 의미함. */
.notice .promotion.hide {
    height: 0;
}

.notice .promotion .swiper {
    /* 총 넓이에 819 이미지 3장이 들어가고 사이사이 공간 10px 즉 2개니까 20px*/
    width: calc(819px * 3 + 20px);
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    /* 819px * 3 + 20px 전체 넓이에 절반만에서 나누기 2 / -2 */
    margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
    opacity: 0.5;
    /* 전환효과가 자연스럽게 */
    transition: opacity 1s;
    position: relative;
}

.notice .promotion .swiper-slide-active {
    opacity: 1;
}

.notice .promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    /* 투명한색 */
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

/* 활성화된 페이지 번호 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../images/promotion_slide_pager_on.png");
}


/* 다중선택자. */
.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.notice .promotion .swiper-button-prev {
    left: 50%;
    margin-left: -480px;
    color: #000;
}

.notice .promotion .swiper-button-prev::after {
    display: none;
}

.notice .promotion .swiper-button-next {
    right: 50%;
    margin-right: -480px;
    color: #000;
}

.notice .promotion .swiper-button-next::after {
    display: none;
}

.notice .promotion .swiper-button-prev:hover,
.notice .promotion .swiper-button-next:hover {
    background-color: #333;
    color: #fff;
}


/* REWARDS */

.rewards {
    position: relative;
}

.rewards .bg-left {
    /* rewards 이미지 왼쪽부분 */
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
}

.rewards .bg-right {
    /* rewards 이미지 오른쪽부분 */
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
}

.rewards .inner {
    background-image: url("../images/rewards.jpg");
    height: 241px;
}

.rewards .btn-group {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
    margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
    width: 110px;
}

.rewards .btn-group .btn.gift {
    margin-top: 10px;
    flex-grow: 1;
}

/*  <!-- YUPTUBE VIDEO --> */

.youtube {
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}

.youtube .youtube__area {
    width: 1920px;
    background-color: tomato;
    position: absolute;
    left: 50%;
    /* 정중앙으로 보내기 */
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc(1920px * 9 / 16 / -2);
    /*# player */
}

/* 가상요소선택자 ::before */
.youtube .youtube__area::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    /* 16:9 박스 만들기 밑에  padding-top: 56.25%;*/
    padding-top: 56.25%;
}

.youtube .youtube__cover {
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube .inner {
    height: 700px;
}

.youtube .floating1 {
    position: absolute;
    top: 50px;
    left: 0;

}

.youtube .floating2 {
    position: absolute;
    top: 350px;
    left: 150px;

}


/* SEASON PRODUCT */
.season-product {
    background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
    height: 400px;
}


/* 위에 오버플로우 히든으로 짤려서 여기다 */
.season-product .floating3 {
    position: absolute;
    top: -200px;
    right: 0;
}

.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}

.season-product .text-group .title {
    margin-bottom: 10px;
}

.season-product .text-group .description {
    margin-bottom: 15px;
}

.season-product .text-group .more {}

/*<!-- RESERVE COFFEE --> */

.reserve-coffee {
    background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
    height: 400px;
}

.reserve-coffee .reserve-logo {
    position: absolute;
    top: 110px;
    left: 0;
}

.reserve-coffee .text-group {
    position: absolute;
    top: 124px;
    left: 208px;
}

.reserve-coffee .product {
    position: absolute;
    top: 0;
    right: 0;
}

/*     <!-- PICK YOUR FAVORITE -->  */

.pick-your-favorite {
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* 요소가 스크롤될때 같이 스크롤안되고 고정됨 즉 화면은 붙어있고 위에 요소는 스크롤에 움직임. 딱 보면 알거임*/
    background-attachment: fixed;
    /* 배경 이미지를 요소에 더 넓은 너비에 출력 */
    background-size: cover;
}

.pick-your-favorite .inner {
    padding: 110px 0;
}

.pick-your-favorite .text-group {
    margin-left: 100px;
    display: flex;
    width: 362px;
    /* flex-wrap: wrap;: 줄바꿈이 가능한 형태로 만들어줌 */
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}

/*<!-- RESERVE STORE --> */

.reserve-store {
    background-image: url("../images/reserve_store_bg.jpg");
    /* no-repeat : 반복출력하지 않는다. */
    background-repeat: no-repeat;
    /* 배경 위치는 정 가운데에 */
    background-position: center;
    /* 요소가 스크롤될때 같이 스크롤안되고 고정됨 즉 화면은 붙어있고 위에 요소는 스크롤에 움직임. 딱 보면 알거임*/
    background-attachment: fixed;
    /* 배경 이미지의 크기를 요소에 더 넓은 너비에 맞춰서 출력 */
    background-size: cover;
}

.reserve-store .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-store .medal {
    width: 334px;
    height: 334px;
    perspective: 600px;
}

/* 다중 선택자. */
.reserve-store .medal .front,
.reserve-store .medal .back {
    width: 334px;
    height: 334px;
    position: absolute;
    /* 뒤집어졌을 떄 뒷면은 화면에서 안보인다. -backface-visibility */
    backface-visibility: hidden;
    /* 뒷 면을 숨긴다. */
    transition: 1s;
}

.reserve-store .medal .front {
    /* 2개의 이미지가 겹쳐진다. */
    transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
    transform: rotateY(180deg);
}

.reserve-store .medal .back {

    transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
    transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
}

/* FIND STORE */

.find-store {
    background-image: url("../images/find_store_bg.jpg");
}

.find-store .inner {
    height: 400px;
}

.find-store .texture1 {
    position: absolute;
    top: 0;
    left: 400px;
}

.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.find-store .picture {
    border-radius: 50%;
    /* box-shadow-> 그림자  */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    position: absolute;
}

.find-store .picture1 {

    top: -60px;
    left: 0;
}

.find-store .picture2 {

    top: 150px;
    left: 250px;
}

.find-store .text-group {
    position: absolute;
    top: 120px;
    left: 550px;
}

.find-store .text-group .title {
    margin-bottom: 20px;
}

.find-store .text-group .description {
    margin-bottom: 20px;
}

/* AWARDS */
.awards {
    background-color: #272727;
}

.awards .inner {
    padding: 40px 0;
    /* 위 아래 40px 좌우는 사용 x */
}

.awards .swiper {
    width: 100%;
    height: 40px;
}
/* 다중선택자 (공통되는 부분)*/
.awards .swiper-prev,
.awards .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    color: #fff;
    opacity: 0.3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.awards .swiper-prev {
    left: -100px;
}
.awards .swiper-next {
    right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 40px 0px 60px 0px;
}
footer .inner .menu {
    display: flex;
    justify-content: center;
} 
footer .inner .menu li {
    position: relative;
} 
footer .inner .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0; bottom: 0;
    right: -1px;
    margin: auto;
} 
/* last-child -> li중 가장 마지막 요소 */
footer .inner .menu li:last-child::before {
    display: none;
}
footer .inner .menu li a {
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    display: block;
} 
footer .inner .menu li a.green {
    color: #669900;
}

footer .inner .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .inner .btn-group .btn {
     font-size: 12px;
     margin-right: 10px;
}
footer .inner .btn-group .btn:last-child {
    margin-right: 0;
} 

footer .inner .info {
    margin-top: 30px;
    text-align: center;
} 
footer .inner .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
} 
footer .inner .info span:last-child {
    margin-right: 0;
}
footer .inner .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
} 
footer .inner .copyright .this-year {} 
footer .inner .logo {
    /* img요소가 display:block + magin:0 auto;인 경우 width 없이도 가운데 정렬 가능
    img요소에 display: block 지정함
    */
    margin: 30px auto 0;
} 

#to-top {
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* 다른 섹션들보다 위에 있게  z-index*/
    z-index: 9;
    
}